*{
    box-sizing: border-box;
}



body {
    background-color: blue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn {
    height: 50px;
    position: relative;
    cursor: pointer;
    background-color: violet;
    border: 0;
    padding: 15px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 8%);
    border-radius: 2%;
    flex: 10;
}
